@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.video-list__header{
    font-size: 24px;
    font-weight: 400;
    color: $silver;
}
.video-list__listing{
    padding-left: 1rem;
}

.video-list__header{
    padding-left: 1rem;
}

@include desktop{
    .video-list__header{
        padding-top: 1.5rem;
    }
    .video-list{
        margin-left: 1rem;
    }
}